:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'October Crow';
  src: url(/fonts/october_crow.ttf);
}
@font-face {
  font-family: 'CMU Serif';
  src: url(/fonts/cmunrm.ttf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cmu_serif {
  font-family: 'CMU Serif';
}
.october_crow {
  font-family: 'October Crow';
}

.quote-content::before {
  content: open-quote;
}
.quote-content::after {
  content: close-quote;
}

@import 'tailwindcss';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
